@model IEnumerable<TestCreator.Data.Pytanie>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_pytanie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.pytanie1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.odpowiedz)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.typ)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_pytanie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.pytanie1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.odpowiedz)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.typ)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
