@model TestCreatorWebSite.Data.Odpowiedz

<div class="main">
    <div class="menu">
        <div class="menu-row">@Html.ActionLink("Wstecz", "Index", null, new { @class = "btn btn-default" })</div>
    </div>
    <div class="center-box">
        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Odpowiedź</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.id_odpowiedz)

            <div class="form-group">
                @Html.LabelFor(model => model.id_pytanie, "Pytanie", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("id_pytanie", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.id_pytanie, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.tresc_odpowiedzi, "Treść odpowiedzi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.tresc_odpowiedzi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.tresc_odpowiedzi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.is_visible, "Widoczność", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.is_visible)
                        @Html.ValidationMessageFor(model => model.is_visible, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.dobra, "Poprana odpowiedz", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.dobra)
                        @Html.ValidationMessageFor(model => model.dobra, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Zapisz" class="btn btn-default" />
                </div>
            </div>
        </div>
}
    </div>
</div>


<div>
    
</div>
