@model IEnumerable<TestCreatorWebSite.Data.Testy>

<div class="main">
    <div class="menu">
        <div class="menu-row">@Html.ActionLink("Nowy test", "Create", null, new { @class = "btn btn-default btn-lg" })</div>
        
    
    </div>
    <div class="center-box">
        <h3>Lista utworzonych testów</h3>
        <table class="table">
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.nazwa)*@
                    Nazwa
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.data_stworzenia)*@
                    Data stworzenia
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.is_visible)*@
                    Widoczność
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.Stanowiska.nazwa_stanowiska)*@
                    Nazwa stanowiska
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nazwa)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.data_stworzenia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.is_visible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Stanowiska.nazwa_stanowiska)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.id_test }) |
                    @Html.ActionLink("Detale", "Details", new { id = item.id_test }) |
                </td>
            </tr>
    }

        </table>
    </div>
</div>

