<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="~/Content/general.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="margin: 0px; padding: 0px;">
    <div class="hd">
        <div class="left_hd">
            <div style="font-size:35px" class="hd_text"><div><a style="color:white; font-family:'Gentium Book Basic'">Corpo Test Creator</a></div></div>
            <div class="hd_text">@Html.ActionLink("Pytania", "Index", "Pytanias", new { area = "" }, new { @class = "btn btn-outline-light btn-lg" })</div>
            <div class="hd_text">@Html.ActionLink("Testy", "Index", "Testies", new { area = "" }, new { @class = "btn btn-outline-light btn-lg" })</div>
            <div class="hd_text">@Html.ActionLink("Stanowiska", "Index", "Stanowiskas", new { area = "" }, new { @class = "btn btn-outline-light btn-lg" })</div>
            <div class="hd_text"></div>
        </div>
    </div>
    <div class="right_hd"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
