


<form id="newAddUserForm">

    <div class="form-group">
        <label  class="cols-sm-2 control-label">Login: </label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                @Html.TextBox("NewUserName",null, new { @class = "form-control", @placeholder = "Podaj Login" })

            </div>
        </div>
    </div>

    <div class="form-group">
        <label  class="cols-sm-2 control-label">Hasło: </label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa" aria-hidden="true"></i></span>
                @Html.Password("Password",null, new { @class = "form-control", @placeholder = "Podaj Hasło" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label  class="cols-sm-2 control-label">Re-Hasło: </label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-key fa" aria-hidden="true"></i></span>
                @Html.Password("RePassword", null, new { @class = "form-control", @placeholder = "Ponownie wpisz hasło" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label  class="cols-sm-2 control-label">Nazwa Użytkownika</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-users fa" aria-hidden="true"></i></span>
                @Html.TextBox("FirstName",null, new { @class = "form-control", @placeholder = "Podaj nazwę" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="cols-sm-2 control-label">Rola</label>
        <div class="cols-sm-10">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>

               
                    @Html.DropDownList("Role", null, "Wybierz rolę", new { id = "roleDDL2", @class = "form-control" })
                   


            </div>
        </div>
    </div>

   

    <div class="form-group ">
        <button type="button" id="addUserButton" class="btn btn-primary btn-lg btn-block" onclick="AddNewUserFunc()" style="width: 60%; margin: auto">Dodaj</button>
    </div>

</form>

