
@{
    ViewBag.Title = "AddQuest";
}
<div class="main">
    <div class="main_up">
        <div>
            <h4 style="color:black">Jakie pytanie chcesz dodać?</h4>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample1">Otwarte</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample2">Zamknięte</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample3">Typu skala</button>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample4" aria-expanded="false" aria-controls="collapseExample4">Typu liczbowego</button>
        </div>
    </div>
    <div class="main_down">
        <div class="main2">
            <div class="collapse" id="collapseExample1"><div class="quest">@Html.Partial("Open")</div></div>
            <div class="collapse" id="collapseExample2"><div class="quest">@Html.Partial("Closed")</div></div>
            <div class="collapse" id="collapseExample3"><div class="quest">@Html.Partial("Scale")</div></div>
            <div class="collapse" id="collapseExample4"><div class="quest">@Html.Partial("Number")</div></div>
        </div>
        <div class="main2">
            <div class="quest_test">
                <div style="margin: 40px">
                    @Html.Partial("Test")
                </div>
            </div>
        </div>
    </div>
</div>