
@{
    ViewBag.Title = "AddQuest";
}
<style>
</style>

<div class="main">
    <div class="main2">
        <div class="quest">
            @Html.Partial("Open")
        </div>
        <div class="quest">
            @Html.Partial("Closed")
        </div>
        <div class="quest">
            @Html.Partial("Scale")
        </div>
        <div class="quest">
            @Html.Partial("Number")
        </div>
    </div>
    <div class="main2">
        <div class="quest">
            <div style="margin: 40px">
                @Html.Partial("Test")
            </div>
        </div>
    </div>
</div>