@model IEnumerable<TestCreatorWebSite.Data.Pytania>

<div class="main">
    <div class="menu">
        <div class="menu-row">@Html.ActionLink("Nowe pytanie", "Create", null, new { @class = "btn btn-default btn-lg" })</div>
        <div class="menu-row"> @Html.ActionLink("Odpowiedzi", "Index", "Odpowiedzs", new { area = "" }, new { @class = "btn btn-default btn-lg" })</div>
    </div>
    <div class="center-box">
        <h3>Lista pytań</h3>
        <hr />
        <table class="table">
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.tresc_pytania)*@
                    Treść pytania
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.is_visible)*@
                    Widoczność
                </th>
              
                <th>
                    @*@Html.DisplayNameFor(model => model.Testy.nazwa)*@
                    Test
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.tresc_pytania)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.is_visible)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Testy.nazwa)
                </td>
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.id_pytanie }) |
                    @Html.ActionLink("Detale", "Details", new { id = item.id_pytanie }) |
                    @Html.ActionLink("Usuwanie", "Delete", new { id = item.id_pytanie })
                </td>
            </tr>
    }

        </table>
    </div>
</div>




