@model IEnumerable<TestCreatorWebSite.Data.Stanowiska>

<p>
    @Html.ActionLink("Dodaj nowe", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.nazwa_stanowiska)*@
            Nazwa
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.is_visible)*@
            Widoczność
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nazwa_stanowiska)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_visible)
        </td>
        <td>
            @Html.ActionLink("Edytuj", "Edit", new { id=item.id_stanowisko }) |
            @Html.ActionLink("Detale", "Details", new { id=item.id_stanowisko }) |
        </td>
    </tr>
}

</table>
